<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Inputs validation form</title>
</head>
<body>
<h2>Inputs Validation Form</h2>
<form action="#" th:action="@{/}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" placeholder="Username"/></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" placeholder="Email address"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" placeholder="Password"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}" placeholder="Age"/></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Date-of-Birth:</td>
            <td><input type="text" th:field="*{dateOfBirth}" placeholder="dd-mm-yyyy"/></td>
            <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date-of-Birth Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>